html, body {
    margin: 0; 
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*margin-top: 20px;*/
  }
  
  .container {
    margin: 0 auto;
    max-width: 100%; 
    padding: 0 10px;
  }
  
  .header {
    background: url(ganesha_homepage.jpg) no-repeat right; 
    background-size: cover;
    height: 400px;
    text-align: center; 
  }
  
  .header .container {
    position: relative;
    top: 140px;
  }
  
  .header h1 {
    color: #000;
    line-height: 100px; 
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase; 
  }
  
  @media (min-width:850px) {
    .header h1 {
      font-size: 60px;
    }
  }
  
  .header p {
    color: #000;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    text-transform: uppercase; 
  }
  
  .btn {
    color: #000;
    background: #fff;
    padding: 10px 40px;
    text-decoration: none; 
    transition: background .5s; 
  }
  
  .nav { 
    background: #fff;
    height: 80px; 
    width: 100%;
    text-align: right;
    position: relative;
    /*position: fixed;
    width: 100%; 
    top: 0;
    transition: top 0.3s; */
  }
  
  .nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    overflow: hidden;
    margin-right: 0px;
  }
  
  .nav ul li {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    transition: background .5s; 
  }
  
  .btn:hover {
    background: rgb(204, 204, 204);
    cursor: pointer; 
    transition: background .5s;  
  }
  
  .nav ul li:hover{
    cursor: pointer; 
    transition: background .5s;  
    color: #e72910;
  }
  
  .title {
    float: left;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  nav ul li:active {
    color: #e72910;
    text-decoration: underline;
  } 
  
  .main .container {
    margin: 80px auto;
  }
  
  .main img {
    float: left;
    margin: 50px 80px 50px 0;
  }
  
  footer { 
    background: rgba(245, 243, 243, 0.849);
    height: 60px; 
    padding-bottom: 120px;
    margin-top: 70px;
    margin-bottom: 0px;
    width: 100%
  }
  
  footer p { 
    color: #000;
    font-size: 12px;  
    height: 80px; 
    line-height: 80px;
    margin: 0;  
    width: 100%;
    font-family: 'Lato', sans-serif;
    text-align: left;
  }
  
  footer ul {
    text-align: right;
  }
  
  footer ul li {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    text-align: right;
  }
  
  footer ul li:hover{
    color: #e72910;
    cursor: pointer; 
    transition: .5s;
  }
  
  @media (max-width: 500px) {
    .header h1 {
      font-size: 50px;
      line-height: 64px;
    }
  
    .main, .jumbotron {
      padding: 0 30px;
    }
  
    .main img {
      width: 100%;
    }
  }
  
  .heading {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #e72910;
  }
  
  .subheading {
    font-size: 25px;
    text-transform: uppercase;
  }
  
  .pageheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-top: 75px;
    background-size: cover;
    height: 200px;
    color: #3d3736;
    background-repeat: no-repeat;
  }
  
  .pagebody {
    margin-left: 400px;
    margin-right: 400px;
    font-family: 'Lato', sans-serif;
    font-size: large;
  }
  
  #originheading {
    background: url(ganesha_origin.jpg) center;
    color:#fff;
    background-repeat: no-repeat;
  }
  
  #festivalsheading {
    background: url(ganesh_chaturthi2.webp) center;
    color: #fff;
    background-repeat: no-repeat;
  }
  
  #influenceheading {
    background: url(ganesha_influence.jpg) center;
    color: #fff;
    background-repeat: no-repeat;
  }